{% extends 'base.html.twig' %}

{% block title %}Days index{% endblock %}

{% block body %}
    <h1>Days index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Timezone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr>
                <td>{{ day.id }}</td>
                <td>{{ day.date }}</td>
                <td>{{ day.timezone }}</td>
                <td>
                    <a href="{{ path('days_show', {'id': day.id}) }}">show</a>
                    <a href="{{ path('days_edit', {'id': day.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('days_new') }}">Create new</a>
{% endblock %}
