{% extends 'base.html.twig' %}

{% block title %}Days{% endblock %}

{% block body %}
{#    <h1>Days</h1>#}

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ day.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Date</th>#}
{#                <td>{{ day.date }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Timezone</th>#}
{#                <td>{{ day.timezone }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}


    The timezone Europe/London has +60 minutes offset to UTC.<br />
    February in this year has 28 days.<br />
    Specified month (July) has 31 days.

{#    <a href="{{ path('days_index') }}">back to list</a>#}

{#    <a href="{{ path('days_edit', {'id': day.id}) }}">edit</a>#}

{#    {{ include('days/_delete_form.html.twig') }}#}
{% endblock %}
